Hi krishna,

how are you,

{{ ansible_virtualization_type }}

{{ ansible_user_shell }}

{{ ansible_hostname }}

{{ ansible_ssh_host_key_rsa_public }}

{{ ansible_processor }}

{{ ansible_python_version }}
